image: gradle:alpine

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

build:
  stage: build
  script: gradle --build-cache assemble
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle

firefox:
  stage: build
  script: apk add firefox-esr

geckodriver:
  stage: build
  script:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.29.0/geckodriver-v0.29.0-linux64.tar.gz
  - tar -zxf geckodriver-v0.29.0-linux64.tar.gz -C /usr/bin
  - geckodriver --version

cucumber:
  stage: test
  script: gradle cucumber
  artifacts:
    paths:
      - build/cucumber-report/